/*CSS-Dokument*/

* {
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
}

#HeaderBox {
	width: 100%; 
	height: 4vw;

	margin: auto;
	margin-bottom: 6vw;

	color: #FFF;
	font-size: 8vw;
	font-family: Calibri, sans-serif;
	text-align: center;
	line-height: 6vw;
}

.RowBox {
	width: 90vw;
	height: 25vw;

	margin-left: 8vw;
	margin-right: auto;

}

.TitleBox {
	border-top: 2px solid #bbb77790; 
	border-bottom: 2px solid #bbb77790;
	width: 40vw; 
	height: 3vw; 

	margin-top: 1vw;


	font-size: 2.5vw;
	font-family: Calibri, sans-serif;
	color: #bbb777FF;
	text-align: center;
	line-height: 3vw;
}

.RightTitle {
	margin-top: -22vw;
	margin-left: 40vw;
}

.TextRuta {
	width: 36vw;
	height: 20vw;

	margin-top: 2vw;
	margin-left: 2vw;

	float: left;
	font-size: 1.6vw;
	font-family: Calibri, sans-serif;
	color: #EEE;
	text-align: justify;
}

.RightTAdd {
	margin-left: 42vw;
}

.RightImage {
	border:	0.2vw solid #FFF;
	width: 35vw;

	margin-left: 41vw;
	margin-top: -25vw;
}

.LeftImage {
	border: 0.2vw solid #FFF;
	width: 35vw;

	margin-top: 10px;
}


.MiddleLine {
	border-bottom: 0.5vw solid #bbb777;
	width: 65%;


	margin-left: auto;
	margin-right: auto;
	margin-top: 1vw;
	margin-bottom: 3vw;
}
