/*CSS-Dokument*/

* {
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
}


#TitleBox {
	border-top: 0.2vh solid #bbb77790; 
	border-bottom: 0.2vh solid #bbb77790;
	width: 40vw; 
	height: 3vw; 

	margin-left: 5vw;
	margin-top: 1vw;


	font-size: 2.5vw;
	font-family: Calibri, sans-serif;
	color: #bbb777FF;
	text-align: center;
	line-height: 3vw;
}

#TextRuta {
	width: 35vw;
	height: 8vw;

	margin-top: 2vw;
	margin-left: 7vw;

	font-size: 1.6vw;
	font-family: Calibri, sans-serif;
	color: #EEE;
	text-align: justify;
}

#RightImage {
	border:	0.2vw solid #FFF;
	width: 35vw;

	margin-left: 48vw;
	margin-top: -13vw;
}