/*CSS-Dokument*/

* {
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
}

#ImageBox {
	display: block;
	text-align: center;
}

.Image {
	border: 0.2vw solid #FFF;

	width: 27vw;
	margin-left: 0.7vw;
	margin-right: 0.7vw;
	margin-top: 1vw;
}

#HeaderBox {
	width: 100%; 
	height: 4vw;

	margin: auto;
	margin-bottom: 6vw;

	color: #FFF;
	font-size: 8vw;
	font-family: Calibri, sans-serif;
	text-align: center;
	line-height: 6vw;
}